body {
  font-family: sans-serif;
  text-align: center;
  background-color: lightgoldenrodyellow;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

em {
  color: blue;
}

button {
  /* text-align: center; */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

button:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.time-box {
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 600;
}

.picker {
  text-align: center;
  margin-top: 20px;
}

/* Styles for mobile devices */
@media screen and (max-width: 767px) {
  .time-box {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
  }

  input[type="datetime-local"] {
    width: 90%;
  }
}
